<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uqac.dim.projet_gestion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projet_gestion">
        <activity
            android:name=".Control.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Control.MainActivity"
            android:exported="true"
            android:parentActivityName=".Control.Login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Control.Login"/>
        </activity>
        <activity
            android:name=".Control.listEmployes"
            android:exported="true"
            android:parentActivityName=".Control.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Control.MainActivity"/>
        </activity>
        <activity
            android:name=".Control.listTasks"
            android:exported="true"
            android:parentActivityName=".Control.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Control.MainActivity"/>
        </activity>
        <activity
            android:name=".Control.listProjects"
            android:exported="true"
            android:parentActivityName=".Control.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Control.MainActivity"/>
        </activity>
        <activity
            android:name=".Control.detailProject"
            android:exported="true"
            android:parentActivityName=".Control.listProjects">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Control.listProjects"/>
        </activity>
        <activity
            android:name=".Control.detailEmploye"
            android:exported="true"
            android:parentActivityName=".Control.listEmployes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Control.listEmployes"/>
        </activity>
    </application>

</manifest>